<div class="container">
    <form [formGroup]="formPropiedades" novalidate (ngSubmit)="propiedades.onSubmit(formPropiedades)">

        <h3>Información de la propiedad</h3>
        <div class="form-group">
            <label for="">Baños</label>
            <input type="text" class="form-control" formControlName="banos"
                   ac-autocomplete
                   [autocompleteData]="monedas"
                   [autocompleteSearchBy]="'nombre'"
                   [autocompleteToShow]="['nombre']">
            <small class="text-danger">
                {{propiedades.formErrors['banos']}}
            </small>
        </div>

        <div class="form-group">
            <label for="">Descripción</label>
            <input type="text" class="form-control" formControlName="descripcion">
            <small class="text-danger">
                {{propiedades.formErrors['descripcion']}}
            </small>
        </div>

        <div class="form-group">
            <label for="">Título</label>
            <input type="text" class="form-control" formControlName="titulo">
            <small class="text-danger">
                {{propiedades.formErrors['titulo']}}
            </small>
        </div>

        <div class="form-group">
            <label for="">Moneda</label>
            <select formControlName="moneda">
                <option *ngFor="let i of monedas.get() | async" [value]="i.$key">{{i.nombre}}</option>
            </select>
            <small class="text-danger">
                {{propiedades.formErrors['moneda']}}
            </small>
        </div>


        <h3>Comodidades generales</h3>
        <div formArrayName="general" class="form-group form-group-horizontal">
            <div *ngFor="let _item of formPropiedades.controls.general.controls; let i = index;">
                <div [formGroupName]="i">
                    <span>{{propiedades._items['general'][i].nombre}}</span>
                    <input type="number" formControlName="value">
                    <!--<input type="text" formControlName="$key">-->
                </div>
            </div>
        </div>


        <div formArrayName="otro" class="form-group form-group-horizontal">
            <div *ngFor="let _item of formPropiedades.controls.otro.controls; let i = index;">
                <div [formGroupName]="i">
                    <input type="checkbox" formControlName="value">
                    <span>{{propiedades._items['otro'][i].nombre}}</span>
                    <!--<input type="text" formControlName="$bidireccional">-->
                </div>
            </div>
        </div>


        <div class="button-bar">
            <button type="button" class="btn btn-default" (click)="propiedades.resetForm(formPropiedades)">Refresh
            </button>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

        <div class="notifications">
            <div *ngIf="!formPropiedades.valid && formPropiedades.touched" class="text-danger">
                'Complete todos los datos obligatorios'
            </div>
        </div>
    </form>

    <propiedad-list-component [propiedades]="propiedades"></propiedad-list-component>
</div>